@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<h3>here is the mvc application with versioning of views and controllers</h3>
<ul>
    <li><a target="_blank" href="@Url.Action("ShowLogin", "Authentication")" >first version ever - @(Url.Action("ShowLogin", "Authentication")) </a></li>
</ul>

